/* rgb(0, 179, 96) rgba(0,0,0,0.4) var(--text-color) */
/* Нижняя часть */
/* Общая область */
.bottom {
	position: absolute;
	border-top: 3px solid;
	border-top-color: rgba(0,0,0,0.2);
	box-shadow: -2px -2px 10px rgb(2, 18, 18);
	height: 70px;
	width: 314px;
	bottom: 0px;
}
/* Цвет и форма кнопок */
.button-bottom {
	z-index: 2;
	position: relative;
	
	background: var(--bg-color);
	
	border: 10px solid;
	/*border-color: var(--text-color);*/
	color: rgb(255, 255, 255);
	text-shadow: 
		0px 0px 3px rgb(2, 50, 207),
		0px 0px 10px rgb(0, 60, 255),
		0px 0px 15px rgb(70, 113, 255);
	border-width: 2px;

    width: 50px;
	height: 50px;

	text-align: center;
	color: rgba(0,0,0,0.4);
}
/* Расположение кнопки НОГИ */
.legs {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 34px;
	line-height: 16px;
	border-radius: 50%;
    /*color: var(--text-color);*/
	color: rgb(255, 255, 255);
	text-shadow: 
		0px 0px 3px rgb(2, 50, 207),
		0px 0px 10px rgb(0, 60, 255),
		0px 0px 15px rgb(70, 113, 255);
}
/* Расположение кнопки ЛЕНТА */
.lenta {
	position: absolute;
	left: 95px;
	top: 10px;
	font-size: 34px;
	line-height: 16px;
	border-radius: 50%;
}
/* Расположение кнопки ПАНЕЛЬ */
.panel {
	position: absolute;
	right: 95px;
	top: 10px;
	font-size: 32px;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
}
/* Расположение кнопки ТЕМПЕРАТУРА */
.temp {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 34px;
	line-height: 16px;
	border-radius: 50%;
}
/* Расположение иконки в кнопке ПАНЕЛЬ */
.fa-tachometer {
	position: absolute;
	bottom: 10px;
	right: 7px;
}