/*

text-shadow: 
		0px 0px 3px rgb(19, 207, 2),
		0px 0px 10px rgb(9, 255, 0),
		0px 0px 15px rgb(86, 255, 70);
text-shadow: 
		0px 0px 3px rgb(2, 50, 207),
		0px 0px 10px rgb(0, 60, 255),
		0px 0px 15px rgb(70, 113, 255);
text-shadow: 
		0px 0px 3px rgb(200, 30, 30), 
		0px 0px 10px rgb(200, 15, 25), 
		0px 0px 15px rgb(200, 15, 20);
text-shadow: 
		0px 0px 3px rgb(207, 2, 190),
		0px 0px 10px rgb(255, 0, 212),
		0px 0px 15px rgb(255, 70, 200);
0px 0px 3px rgb(165, 70, 253), 0px 0px 10px rgb(150, 0, 255), 0px 0px 15px rgb(150, 70, 255)
0px 0px 3px rgb(253, 137, 70), 0px 0px 10px rgb(253, 137, 70), 0px 0px 15px rgb(253, 137, 70)
0px 0px 3px rgb(90, 239, 250), 0px 0px 10px rgb(90, 239, 250), 0px 0px 15px rgb(90, 239, 250)
0px 0px 3px rgb(198, 201, 54), 0px 0px 10px rgb(198, 201, 54), 0px 0px 15px rgb(198, 201, 54)
*/
