/* Подключение шрифта текста и иконочного шрифта */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
	font-family: 'Indie Flower', cursive;
	/*font-family: 'Teko', sans-serif;*/
	/*font-family: 'Inter', sans-serif;*/
	/* rgb(0, 179, 96) rgb(30, 150, 200) rgb(245, 91, 91) rgb(240, 91, 245) rgb(165, 70, 253) rgb(253, 137, 70) rgb(90, 239, 250) rgb(198, 201, 54)*/
}
:root {
	/*--text-color: rgb(0, 179, 96) ;*/
	--text-color: rgb(255, 255, 255) ;
	--bg-color: rgb(62, 68, 83) ;
}
body {
	background: #1A1A1D;
}
#terminal div {
    color: rgb(255, 255, 255);
}
#terminal div.out {
    color: red;
}
#terminal div.in {
    color: blue;
}
.terminal {
	z-index: 3;
	position: absolute;
	width: 300px;
	height: 14px;
	top: 320px;
	left: 6px;
	border-style: solid;
	border-color: rgb(88, 88, 88);
	font-size: 8px;
}
/* Стиль надписи text*/
.text {
	position: absolute;
	top: 12px;
	left: 18px;

	font-size: 38px;
	font-weight: bold;

	color: rgb(255, 255, 255);
	text-shadow: 
		0px 0px 3px rgb(2, 50, 207),
		0px 0px 10px rgb(0, 60, 255),
		0px 0px 15px rgb(70, 113, 255);
	/*text-shadow: 
		0px 0px 3px rgb(207, 2, 190),
		0px 0px 10px rgb(255, 0, 212),
		0px 0px 15px rgb(255, 70, 200);*/
	/*text-shadow: 
		0px 0px 3px rgb(19, 207, 2),
		0px 0px 10px rgb(9, 255, 0),
		0px 0px 15px rgb(86, 255, 70);*/
}
.wrapper {
	position: relative;
	
	margin: 0 auto;
	width: 316px;
	height: 430px;
	/*background-image: url(images/2222.jpg);
	background-repeat: no-repeat left top;
	background-size: 100% 100%;*/
	/*background: rgb(59, 75, 75);*/
	background: var(--bg-color);
}
.top {
	position: relative;
	height: 70px;
	
	box-shadow: 2px 2px 10px rgb(2, 18, 18);
	border-bottom: 3px solid;
	border-bottom-color: rgba(0,0,0,0.2);
}

.button {
	z-index: 2;
	position: relative;
	
	background: var(--bg-color);
	
	border: 10px solid;
	border-color: var(--text-color);
	border-width: 2px;

	/*box-shadow: inset 1px 1px 2px rgba(0,0,0,0.8),
		inset -1px -1px 2px rgba(252,255,255,0.3);*/

	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: none;
	/*color: var(--text-color);
	text-shadow: 
		0px 0px 15px rgba(0, 179, 96, 0.3);*/
}

.connect {
	position: absolute;
	right: 68px;
	top: 24px;

	font-size: 20px;
	text-align: center;
	line-height: 16px;
	color: rgba(0,0,0,0.4);
	width: 35px;
	height: 35px;

	border-radius: 50%;
}
.gear {
	position: absolute;
	right: 8px;
	top: 10px;

	font-size: 34px;
	line-height: 16px;

	width: 50px;
	height: 50px;

	border-radius: 50%;
}
.button-center {
	display: inline;
	position: inline;
	width: 80px;
	height: 40px;

	background: #383838;
	box-shadow: -1px -1px 5px rgba(252,255,255,0.2),
		1px 1px 2px rgba(0,0,0,0.8);		
	border: solid;
	border-color: rgba(0,0,0,0.2);
	border-width: 3px;
	border-radius: 10px;
	background: transparent;

}
.textButton {
	position: absolute;
	text-align: center;
	left: 10px;
	font-weight: bold;
	font-size: 18px;
	
	line-height: 4px;
	/*color: var(--text-color);*/
	color: rgb(255, 255, 255);
	text-shadow: 
		0px 0px 3px rgb(2, 50, 207),
		0px 0px 10px rgb(0, 60, 255),
		0px 0px 15px rgb(70, 113, 255);
}
.FRT {
	position: absolute;
	top: 100px;
}
.RR {
	position: absolute;
	top: 160px;
}
.LH {
	position: absolute;
	left: 40px;
}
.RH {
	position: absolute;
	right: 40px;
}
.textButton2 {
	position: absolute;
	text-align: center;
	left: 26px;
	font-weight: bold;
	font-size: 20px;
	
	line-height: 4px;
	/*color: var(--text-color);*/
	color: rgb(255, 255, 255);
	text-shadow: 
		0px 0px 3px rgb(2, 50, 207),
		0px 0px 10px rgb(0, 60, 255),
		0px 0px 15px rgb(70, 113, 255);
}
.ALL {
	position: absolute;
	right: 117px;
	top: 230px;
}
.DIN {
	position: absolute;
	right: 40px;
	top: 230px;
	width: 48px;
	color: rgba(0,0,0,0.4);
	
}
.textButton3 {
	position: absolute;
	text-align: center;
	left: 10px;
	font-weight: bold;
	font-size: 18px;
	
	line-height: 4px;
	color: 'rgba(0,0,0,0.4)';
}

/* 
	background: radial-gradient(circle at center, rgba(35,186,0,1) 0%, rgba(9,121,54,1) 25%, rgba(2,0,36,1) 100%);

	border-style: solid;
	border-color: red;

	radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);

	linear-gradient(135deg, #0DE1FD, #FC007A);
*/