/* Ползунок */
.slidecontainer {
	width: 200px;
}
.slider {
	position: relative;
	width: 100%;
    height: 20px;
	-webkit-appearance: none;
    appearance: none;
	border-radius: 8px;
	left: 22px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
	border-radius: 50%;
	border: 2px solid;
	border-color: rgb(0, 179, 96);
    background: rgb(59, 75, 75);
	box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}
.slide-red {
	position: relative;
	top: 70px;
	background: rgba(252,0,0,0.3);
}
.slide-green {
	position: relative;
	top: 70px;
	background: rgba(0,255,0,0.3);
}
.slide-blue {
	position: relative;
	top: 70px;
	background: rgba(0,0,255,0.3);
}
.rangevalue-red {
    font-size: 22px;
	font-weight: bold;
    top: 40px;
    left: 240px;
    position: relative;

	color: rgb(0, 179, 96);

	text-shadow: 
		0px 0px 15px rgba(35,186,90,0.4),
		-2px -3px 5px rgba(0,0,0,0.6);
}
.rangevalue-green {
    font-size: 22px;
	font-weight: bold;
    top: 40px;
    left: 240px;
    position: relative;

	color: rgb(0, 179, 96);

	text-shadow: 
		0px 0px 15px rgba(35,186,90,0.4),
		-2px -3px 5px rgba(0,0,0,0.6);
}
.rangevalue-blue {
    font-size: 22px;
	font-weight: bold;
    top: 40px;
    left: 240px;
    position: relative;
	
	color: rgb(0, 179, 96);

	text-shadow: 
		0px 0px 5px rgba(35,186,90,0.4),
		-2px -3px 5px rgba(0,0,0,0.6);
}
.color {
	position: absolute;
	top: 82px;
	right: 30px;
	width: 250px;
	height: 25px;
	border-style: solid;
	border-color: white;
	border-radius: 8px;
}