/* Ползунок */
.slidecontainer {
	width: 200px;
}
.slider {
	position: relative;
	width: 100%;
	-webkit-appearance: none;
    appearance: none;
	border-radius: 8px;
	left: 22px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
	border-radius: 50%;
    background: radial-gradient(circle at 30% 15%, #0DE1FD, #d1248f);
	box-shadow: 1px 2px 2px rgba(252,0,122,0.3), -1px -2px 5px rgba(0,255,253,0.2);
    cursor: pointer;
}
.slide-red {
	position: relative;
	top: 50px;
	background: rgba(252,0,0,0.3);
}
.slide-green {
	position: relative;
	top: 70px;
	background: rgba(0,255,0,0.3);
}
.slide-blue {
	position: relative;
	top: 90px;
	background: rgba(0,0,255,0.3);
}
.rangevalue-red {
    font-size: 22px;
	font-weight: bold;
    top: 21px;
    left: 240px;
    position: relative;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(120deg, #0DE1FD, #d1248f, fuchsia);
	text-shadow: 
		2px 3px 20px rgba(252,0,122,0.4),
		-2px -3px 20px rgba(0,255,253,0.2);
}
.rangevalue-green {
    font-size: 22px;
	font-weight: bold;
    top: 41px;
    left: 240px;
    position: relative;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(120deg, #0DE1FD, #d1248f, fuchsia);
	text-shadow: 
		2px 3px 20px rgba(252,0,122,0.4),
		-2px -3px 20px rgba(0,255,253,0.2);
}
.rangevalue-blue {
    font-size: 22px;
	font-weight: bold;
    top: 61px;
    left: 240px;
    position: relative;
	color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(120deg, #0DE1FD, #d1248f, fuchsia);
	text-shadow: 
		2px 3px 20px rgba(252,0,122,0.4),
		-2px -3px 20px rgba(0,255,253,0.2);
}