/* Подключение шрифта текста и иконочного шрифта */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

#terminal div {
    color: gray;
}
#terminal div.out {
    color: red;
}
#terminal div.in {
    color: blue;
}
.wrapper {
	border-style: solid;
	border-color: white;
	margin: 0 auto;
	width: 300px;
	height: 400px;
}
.top {
	border-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #9254ad;
}
.button {
	border: 10px;
	background: radial-gradient(circle at 30% 15%, #0DE1FD, #d1248f);
	box-shadow: 5px 10px 20px rgba(252,0,122,0.3), -5px -10px 20px rgba(0,255,253,0.2);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.connect {
	font-size: 22px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-left: 150px;
}
.gear {
	font-size: 34px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.fa {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
body {
	background: #1d1b33;
}
.terminal {
	font-size: 14px;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
}
/* 
	background: radial-gradient(circle at center, rgba(35,186,0,1) 0%, rgba(9,121,54,1) 25%, rgba(2,0,36,1) 100%);

	border-style: solid;
	border-color: red;


	radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);

	linear-gradient(135deg, #0DE1FD, #FC007A);
*/