/* Подключение шрифта текста и иконочного шрифта */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

#terminal div {
    color: gray;
}
#terminal div.out {
    color: red;
}
#terminal div.in {
    color: blue;
}
.wrapper {
	border-style: solid;
	border-color: red;
	margin: 0 auto;
	width: 300px;
	height: 400px;
}
.button {
	border-style: solid;
	border-color: red;
}
body {
	background: rgb(2,0,36);
	background: radial-gradient(circle at center, rgba(35,186,0,1) 0%, rgba(9,121,54,1) 25%, rgba(2,0,36,1) 100%);
	color: #D4D1D5;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
}
/* height: 100vh; */