/* Подключение шрифта текста и иконочного шрифта */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


#terminal div {
    color: gray;
}
#terminal div.out {
    color: red;
}
#terminal div.in {
    color: blue;
}


body {
	background-color: #8737A9;
	color: #D4D1D5;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Inter', sans-serif;
	
}
